
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: rgb(246, 254, 255);
}
.navbar-nav .nav-item.dropdown:hover .nav-link,
.navbar-nav .nav-item.dropdown.show .nav-link {
  color: #FF4D7B !important;
}

.nav-link{
  color:rgb(55 133 140);
  font-weight: 400;
}
.nav-link:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in all;
}
.navbar-nav .nav-item.dropdown .dropdown-item.active,
.navbar-nav .nav-item.dropdown .dropdown-item:active {
  background-color: #FF4D7B;
  color: #fff !important;
}
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* This ensures that the navbar stays on top of other elements */
  
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;
  padding: 0;
  /* box-shadow: #333 0px 0px 6px; */
  background-color: rgb(246, 254, 255) !important;
}

.hide {
  top: -100px;
}
a.activate {
  color: #508896 !important;
  font-weight: bold;
}

.error{
  color:red;
  display:flex;
  align-items: center;
  justify-content: center;
}
.success{
  color: green;
  display:flex;
  align-items: center;
  justify-content: center;
}
.message-box {
  position: absolute;
  left: 50%;
  top: 5rem;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  z-index: 1000;

}

.notification {
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
}

.notification.error {
  background-color: #f44336; /* Red */
}

.notification.success {
  background-color: #4CAF50; /* Green */
}

.notification.info {
  background-color: #2196F3; /* Blue */
}

.notification.warning {
  background-color: #ff9800; /* Orange */
}

button.cancel-message {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 20px;
}

.logo-image{
  /* width: 100px; */
  height: 50px;
  margin: 0 auto;
  display: block;
}




/* Loader  */


.skeleton-loader {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    background: white;
    scroll-behavior: smooth;
}

.skeleton-thumbnail {
  width: 210px;
  height: 118px;
  background: #ddd;
  border-radius: 4px;
}
.skeleton-nav{
  height: 40px;
  margin-bottom: 10px;
  background: #ddd;
  border-radius: 4px;
}

.skeleton-details {
  flex-grow: 1;
  margin-left: 20px;
  width: 70vw;
}
.sekeleton-item{
  display: flex;
  width: 90vw;
  align-items: baseline;
  margin-bottom: 10px;
}
.skeleton-elments{
  top: 35%;
  position: absolute;
}

.skeleton-line {
  height: 20px;
  background: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.skeleton-thumbnail,
.skeleton-line,
.skeleton-nav {
  animation: shimmer 1s linear infinite alternate;
}

@keyframes shimmer {
  0% {
      background-color: hsl(200, 20%, 70%);
  }
  100% {
      background-color: hsl(200, 20%, 95%);
  }
}